[user]
	signingKey = 4438B2B80323BBAE
	email = 49640654+kalwabed@users.noreply.github.com
	name = kalwabed
[commit]
	gpgsign = true
[core]
	editor = nvim
  pager = delta
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[alias]
	ai = !git add -A && git commit -am \"$(bun ~/.aicommit/index.ts --apikey AIzaSyAceEMcMmEtUV-bZANpA1_k9812U2vucNI)\"

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
