* {
    main-bg:            #021B2EE6;
    main-fg:            #D4BF1F;
    main-br:            #063044;
    main-ex:            #172C33;
    select-bg:          #076B75;
    select-fg:          #FDE4D1;
}
