* {
    main-bg:            #242624E6;
    main-fg:            #AD8F60;
    main-br:            #56493A;
    main-ex:            #4E4944;
    select-bg:          #816255;
    select-fg:          #DBD9DB;
}
